.Allusers_data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Users_heading{
    font-size: calc(1.5vw + 1.5vh + 2vmin);
    margin: 6vh 0;
}
.Allusers_map{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    color:whitesmoke;
    width: 55vw;
    justify-content: center;
    align-items: center;
}